<!-- <h1>{{Title}}</h1>
<h1>{{firstName}} {{lastName}}</h1>
<h1 [innerHTML]="team"></h1>

<h1><b>{{name}}</b></h1>
<br>
<input type="text" [(ngModel)]="name">
<br>
<i>{{getName()}}</i>

<h1 [innerHTML]="checking"></h1>
<button [disabled]="isDisabled">click me</button>
<p [innerText]="'welcome to' + ' maranakinar'"></p>


<p>you are clicked {{clickCounted}}</p>
<p>copy of count = {{count}}</p>
<button (click)="getCount(); count = clickCounted " >click me</button> -->

<!-- type anything: <input type="text" (input)="handleInput($event); value1=$any($event.target).value">
<p>with handleInput: {{value}}</p>
<p>without handleInput: {{value1}}</p> -->



<!-- array  -->


<!-- <ul>
    <li *ngFor = "let movie of movies">{{movie}}</li>
</ul> -->


<!-- object  -->


<!-- <ul>
    <li *ngFor="let movie of moviesWithDirectors">
          {{movie.title}} - {{movie.director}}
    </li>
</ul> -->

<!-- Table -->

<!-- <div class="panel panel-primary">
    <div class="panel-heading">
        {{Title}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>sn.no</th>
                    <th>Title</th>
                    <th>Director</th>
                </tr>
                <tr *ngFor="let movie of moviesWithDirectors; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.director}}</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->

<!-- odd,even bg -->


<!-- <div class="panel panel-primary">
    <div class="panel-heading">
        {{Title}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>sn.no</th>
                    <th>Title</th>
                    <th>Director</th>
                </tr>
                <tr [ngClass]="{ 'bg-warning': f ,'bg-info':l}"
                *ngFor="let movie of moviesWithDirectors; let i = index; let o = odd; let e = even; let f = first; let l = last">
            
                    <td>{{i+1}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.director}}</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->

<!-- <input type="text" [(ngModel)]="num">
<div [ngSwitch]="num">
    <div *ngSwitchCase="'1'">one</div>
    <div *ngSwitchCase="'2'">two</div>
    <div *ngSwitchCase="'3'">three</div>
    <div *ngSwitchDefault>this is defalut</div>
</div> -->

<!-- <h1>ngif Example</h1> -->

<!-- <div class="row">
    <label for="">checkBox<input type="checkbox" [(ngModel)]="showme"></label>
</div>
<p *ngIf="showme">showme is checked</p>
<p *ngIf="!showme">showme is unchecked</p> -->


<!-- <div class="row">
    <label for="">checkBox<input type="checkbox" [(ngModel)]="showme"></label>
</div>
<p *ngIf="showme; else elseBlock" >showme is checked</p>

<ng-template #elseBlock>
    <p>show me is unchecked</p>
</ng-template> -->


<!-- <div class="row">
    <label for="">checkBox<input type="checkbox" [(ngModel)]="showme"></label>
</div>

<div *ngIf="showme; then thenBlock; else elseBlock "></div>

<ng-template #thenBlock>
    <p>showme is checked</p>
</ng-template>

<ng-template #elseBlock>
    <p>show me is unchecked</p>
</ng-template> -->



<!-- ngclass -->

<!-- <div [ngClass]="['primary','big']">
    simple text
</div> -->
<!-- Big<input type="checkbox" [(ngModel)]="isbig">
red<input type="checkbox" [(ngModel)]="isEmbeded" >
<div [ngClass]="{
    'primary':isEmbeded,
    'big':isbig

}" >
    simple text
</div> -->

<!-- ng style -->
<!-- 
<div [ngStyle]="{'color': status === 'success' ? 'red' : 'blue'}">simple text</div> -->






<!-- pipe -->
<!-- date -->
<!-- <p>unformated Date: {{toDate}}</p>
<p>formated Date: {{toDate | date}}</p>
<p>medium Date: {{toDate | date:'medium'}}</p>
<p>short Date: {{toDate | date:'short'}}</p>
<p>long Date: {{toDate | date:'longDate'}}</p>
<p>fullDate: {{toDate | date:'fullDate'}}</p> -->

<!-- lower and upper case -->
<!-- 
<p>orginal: {{message}}</p>
<p>upper: {{message | uppercase}}</p>
<p>lower: {{message | lowercase}}</p> -->

<!-- slice -->

<!-- <p>example1:{{message | slice:11:18}}</p>
<p>example2:{{message | slice:-7}}</p>
<p>examole3:{{message|slice:0:7}}</p> -->

<!-- currency -->

<p>price without formating  {{price}}</p>
<p>price with formating  {{price|currency:"INR"}}</p>
<p>Price without logo formatting: {{ price | currency: 'INR' : false }}</p>



